<div class="skills col-xs-12">
    <h2 class="pfblock-title">MY SKILLS</h2>
    <div class="pfblock-line"></div>

    <div class="row">
        <div class="devicon-python-plain col-xs-2"><span>PYTHON</span></div>
        <div class="devicon-cplusplus-plain col-xs-2"><span>C++</span></div>
        <div class="devicon-c-plain col-xs-2"><span>C</span></div>
        <div class="devicon-embeddedc-plain col-xs-2"><span>EMBEDDED C</span></div>
        <div class="devicon-lua-plain col-xs-2"><span>LUA</span></div>
        <div class="devicon-r-original col-xs-2"><span>R</span></div>
    </div>
    <div class="row">
        <div class="devicon-django-plain col-xs-2"><span>DJANGO</span></div>
        <div class="devicon-html5-plain col-xs-2"><span>HTML</span></div>
        <div class="devicon-css3-plain col-xs-2"><span>CSS</span></div>
        <div class="devicon-jquery-plain col-xs-2"><span>JQUERY</span></div>
        <div class="devicon-javascript-plain col-xs-2"><span>JAVASCRIPT</span></div>
        <div class="devicon-bootstrap-plain col-xs-2"><span>BOOTSTRAP</span></div>
    </div>
    <div class="row">
        <div class="devicon-devicon-plain col-xs-2"><span>DEVICON</span></div>
        <div class="devicon-matlab-plain col-xs-2"><span>MATLAB</span></div>
        <div class="devicon-numpy-original col-xs-2"><span>NUMPY</span></div>
        <div class="devicon-pandas-original col-xs-2"><span>PANDAS</span></div>
        <div class="devicon-tensorflow-original col-xs-2"><span>TENSORFLOW</span></div>
        <div class="devicon-opencv-plain col-xs-2"><span>OPENCV</span></div>
    </div>
    <div class="row">
        <div class="devicon-git-plain col-xs-2"><span>GIT</span></div>
        <div class="devicon-github-original col-xs-2"><span>GITHUB</span></div>
        <div class="devicon-gitlab-plain col-xs-2"><span>GITLAB</span></div>
        <div class="devicon-bitbucket-original col-xs-2"><span>BITBUCKET</span></div>
        <div class="devicon-slack-plain col-xs-2"><span>SLACK</span></div>
        <div class="devicon-trello-plain col-xs-2"><span>TRELLO</span></div>
    </div>
    <div class="row">
        <div class="devicon-docker-plain col-xs-3"><span>DOCKER</span></div>
        <div class="devicon-visualstudio-plain col-xs-3"><span>VISUAL STUDIO</span></div>
        <div class="devicon-linux-plain col-xs-3"><span>LINUX</span></div>
        <div class="devicon-anaconda-original col-xs-3"><span>ANACONDA</span></div>
    </div>
</div>