<div class="col-sm-8">
    <div class="volunteer-header wow fadeInUp">
        <h2 class="volunteer-title">Staff Cadet</h2>
        <div class="volunteer-subtitle">Vernon Cadet Summer Training Center</div>
        <div class="volunteer-subtitle">
            <p class="volunteer-text">
                An instructor in drill and leadership at a summer cadet summer training camp for a group of 24 - 30 course cadets. 
                Assisted in the formation and teaching of the prestigious rifle drill team, and in the formation of the flag party. 
                Had two cadets won the presigious Vance Leadership and A.N.A. Veterans Medal of Merit in 2018, and one cadet was nominated 
                for A.N.A. Veterans Medal of Merit in 2017 under our recommendation. Was also nominated for Order of St. George for distinguished and exemplary service.
            </p>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="volunteer-header wow fadeInUp">
        <h3>Summer 2018</h3>
        <h3>Summer 2017</h3>
    </div>
</div>

<div class="col-sm-8">
    <div class="volunteer-header wow fadeInUp">
        <h2 class="volunteer-title">Volunteer</h2>
        <div class="volunteer-subtitle">Global Perpective</div>
        <div class="volunteer-subtitle">
            <p class="volunteer-text">
                Volunteer at a local school group called Global Perspective. The group was separated into two years. The first year will 
                help in the local community and assist the second years with running the school fundraising event called Global Gala, to collect funds 
                to acquire building materials, lodging, and food in a developing country for the second years to travel to. The second years will help 
                the first years in their community activities and do the bulwork of the planning of the fundraising event. During my second year, we  
                pulled off the most successful Gala in terms of raising funds, as well as travelling to Kochi, India to refurbish a local elementary school.
            </p>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="volunteer-header wow fadeInUp">
        <h3>September 2017 - April 2018</h3>
    </div>
</div>