<div class="col-sm-8">
    <div class="work-header wow fadeInUp">
        <h2 class="work-title">Scientific Assistant</h2>
        <div class="work-subtitle">National Resource Canada</div>
        <div class="work-subtitle">
            <p class="work-text">
                Migrate the Long Term Forecasting system used to forecast geomagnetic activities written in IDL to Python.
                The system helps industries such as mining, aviation (HF radio), and satellites by providing forecast of geomagnetic
                over the next 27 days. Forecasting is done using Probability Linear filter.
            </p>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="work-header wow fadeInUp">
        <h3>January 2022 - April 2022</h3>
    </div>
</div>

<div class="col-sm-8">
    <div class="work-header wow fadeInUp">
        <h2 class="work-title">Scientific Assistant in Seismology</h2>
        <div class="work-subtitle">National Resource Canada</div>
        <div class="work-subtitle">
            <p class="work-text">
                Assist in identifying earthquakes and classifying them if they were natural or induced by
                explosions, whether that be from mining operations or testing of bombs underground.
                In addition to earthquake analysis, I provided the codebase and data for the research of a new paper on the St. Lawrence river
                by examining how ice coverage affects the detection of seismic activities. 
            </p>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="work-header wow fadeInUp">
        <h3>January 2021 - April 2021</h3>
    </div>
</div>

<div class="col-sm-8">
    <div class="work-header wow fadeInUp">
        <h2 class="work-title">Research Assistant</h2>
        <div class="work-subtitle">National Resource Canada</div>
        <div class="work-subtitle">
            <p class="work-text">
                Assist in improving the detection of earthquakes caused by fracking activities and identifying earthquakes caused by the same
                source using cross-correlation between events.
            </p>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="work-header wow fadeInUp">
        <h3>May 2020 - August 2020</h3>
    </div>
</div>

<div class="col-sm-8">
    <div class="work-header wow fadeInUp">
        <h2 class="work-title">Desktop Support Technician</h2>
        <div class="work-subtitle">Agriculture & Agri-Food Canada</div>
        <div class="work-subtitle">
            <p class="work-text">
                Assist in helping colleagues at two locations with computer related issues. Problems can be taken up by
                personal request though email, telephone, conversation, or from a ticket from the ticketing management web service.
            </p>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="work-header wow fadeInUp">
        <h3>January 2019 - April 2019</h3>
        <h3>September 2019 - December 2019</h3>
    </div>
</div>
